
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />


<div id="map" class=""></div>

<style>
    #map {
        width: 100vw;
        height: calc(100vh - 64px - 64px); /* Navbar + Footer */
    }
</style>


<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="~/js/index.js"></script>
